---
import ToolShell from '../../../components/common/ToolShell.astro';
import { ASCII_ART_GENERATOR_TOOL } from '../../../tools/text/ascii-art-generator';

const tool = ASCII_ART_GENERATOR_TOOL;
---

<ToolShell {tool}>
  <div id="ascii-art-generator-container"></div>
  <script>
    import('../../../components/tools/text/ASCIIArtGenerator').then((module) => {
      const ASCIIArtGenerator = module.default;
      const container = document.getElementById('ascii-art-generator-container');
      if (container) {
        import('react').then((React) => {
          import('react-dom/client').then((ReactDOM) => {
            const root = ReactDOM.createRoot(container);
            root.render(React.createElement(ASCIIArtGenerator));
          });
        });
      }
    });
  </script>
</ToolShell>