---
import ToolShell from '../../../components/common/ToolShell.astro';
import { JWT_GENERATOR_TOOL } from '../../../tools/crypto/jwt-generator';

const tool = JWT_GENERATOR_TOOL;
---

<ToolShell {tool}>
  <div id="jwt-generator-container"></div>
  <script>
    import('../../../components/tools/crypto/JWTGenerator').then((module) => {
      const JWTGenerator = module.default;
      const container = document.getElementById('jwt-generator-container');
      if (container) {
        import('react').then((React) => {
          import('react-dom/client').then((ReactDOM) => {
            const root = ReactDOM.createRoot(container);
            root.render(React.createElement(JWTGenerator));
          });
        });
      }
    });
  </script>
</ToolShell>