---
import ToolShell from '../../../components/common/ToolShell.astro';
import { PASSWORD_POLICY_GENERATOR_TOOL } from '../../../tools/crypto/password-policy-generator';

const tool = PASSWORD_POLICY_GENERATOR_TOOL;
---

<ToolShell tool={tool}>
  <div id="password-policy-generator-root"></div>
  
  <script>
    import('../../../components/tools/crypto/PasswordPolicyGenerator').then(module => {
      const { PasswordPolicyGenerator } = module;
      const root = document.getElementById('password-policy-generator-root');
      if (root) {
        const React = (window as any).React;
        const ReactDOM = (window as any).ReactDOM;
        ReactDOM.render(React.createElement(PasswordPolicyGenerator), root);
      }
    });
  </script>
</ToolShell>