---
import ToolShell from '../../../components/common/ToolShell.astro';
import { CSS_GRID_GENERATOR_TOOL } from '../../../tools/web/css-grid-generator';

const tool = CSS_GRID_GENERATOR_TOOL;
---

<ToolShell tool={tool}>
  <div id="css-grid-generator-root"></div>
</ToolShell>

<script>
  import CSSGridGenerator from '../../../components/tools/web/CSSGridGenerator';
  import React from 'react';
  import { createRoot } from 'react-dom/client';

  const container = document.getElementById('css-grid-generator-root');
  if (container) {
    const root = createRoot(container);
    root.render(React.createElement(CSSGridGenerator));
  }
</script>