---
import ToolShell from '../../../components/common/ToolShell.astro';
import { SVG_EDITOR_TOOL } from '../../../tools/web/svg-editor';

const tool = SVG_EDITOR_TOOL;
---

<ToolShell {tool}>
  <div id="svg-editor-container"></div>
  <script>
    import('../../../components/tools/web/SvgEditor').then((module) => {
      const SvgEditor = module.default;
      const container = document.getElementById('svg-editor-container');
      if (container) {
        import('react').then((React) => {
          import('react-dom/client').then((ReactDOM) => {
            const root = ReactDOM.createRoot(container);
            root.render(React.createElement(SvgEditor));
          });
        });
      }
    });
  </script>
</ToolShell>