---
import ToolShell from '../../../components/common/ToolShell.astro';
import { HTML_ENTITY_ENCODER_TOOL } from '../../../tools/encoders/html-entity-encoder';

const tool = HTML_ENTITY_ENCODER_TOOL;
---

<ToolShell {tool}>
  <div id="html-entity-encoder-container"></div>
  <script>
    import('../../../components/tools/encoders/HtmlEntityEncoder').then((module) => {
      const HtmlEntityEncoder = module.default;
      const container = document.getElementById('html-entity-encoder-container');
      if (container) {
        import('react').then((React) => {
          import('react-dom/client').then((ReactDOM) => {
            const root = ReactDOM.createRoot(container);
            root.render(React.createElement(HtmlEntityEncoder));
          });
        });
      }
    });
  </script>
</ToolShell>